doctype html
html
  head
    title= Faethflex-Sacred-Order
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    p FAETHFLEX x LOSTARS CONGLOMERATE x LORD SNUGGLES
    p <canvas class="webgl"></canvas>
    script(type='text/javascript', src='bundle.js')